<div class="card container form-container">
  <div class="row">
    <div class="col-md-6">
      <h1>Proposal New</h1>
      <div class="">
        <form #proposalForm="ngForm">
          <div class="form-group">
            <label for="customer">Customer Name</label>
            <input #customer="ngModel"
              [(ngModel)]="proposal.customer"
              type="text"
              id="customer"
              name="customer"
              class="form-control"
              placeholder="ABC Company"
              required >
            <div [hidden]="customer.valid || customer.pristine" class="alert alert-danger mt-1" role="alert">
              Customer name is required
            </div>
          </div>

          <div class="form-group">
            <label for="portfolio_url">Portfolio URL</label>
            <input #portfolio_url='ngModel'
              [(ngModel)]="proposal.portfolio_url"
              type="text"
              id="portfolio_url"
              name="portfolio_url"
              class="form-control"
              placeholder="http://"
              required>
            <div [hidden]="portfolio_url.valid || portfolio_url.pristine" class="alert alert-danger mt-1" role="alert">
              Portfolio URL is required
            </div>
          </div>

          <div class="form-group">
            <label for="tools">Tools that you'll use on the project</label>
            <input #tools='ngModel'
              [(ngModel)]="proposal.tools"
              type="text"
              id="tools"
              name="tools"
              class="form-control"
              placeholder="Ruby on Rails, Angular"
              required>
            <div [hidden]="tools.valid || tools.pristine" class="alert alert-danger mt-1" role="alert">
              Tools is required
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <label for="estimated_hours">Estimated hours</label>
              <input #estimated_hours='ngModel'
                [(ngModel)]="proposal.estimated_hours"
                type="number"
                id="estimated_hours"
                name="estimated_hours"
                class="form-control"
                required>
              <div [hidden]="estimated_hours.valid || estimated_hours.pristine" class="alert alert-danger mt-1" role="alert">
                Estimated hours is required
              </div>
            </div>
            <div class="col">
              <label for="hourly_rate">Hourly rate</label>
              <input #hourly_rate='ngModel'
                [(ngModel)]="proposal.hourly_rate"
                type="number"
                id="hourly_rate"
                name="hourly_rate"
                class="form-control"
                required>
              <div [hidden]="hourly_rate.valid || hourly_rate.pristine" class="alert alert-danger mt-1" role="alert">
                Hourly rate is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="weeks_to_complete">Weeks to Complete</label>
            <input #weeks_to_complete='ngModel'
              [(ngModel)]="proposal.weeks_to_complete"
              type="number"
              id="weeks_to_complete"
              name="weeks_to_complete"
              class="form-control"
              required>
            <div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine" class="alert alert-danger mt-1" role="alert">
              Weeks to Complete is required
            </div>
          </div>

          <div class="form-group">
            <label for="client_email">Client Email <em>(Optional)</em></label>
            <input #clientemail='ngModel'
              [(ngModel)]="proposal.client_email"
              type="text"
              id="client_email"
              name="client_email"
              class="form-control"
              placeholder="test@test.com">
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="">
        <p>Hi {{ proposal.customer }},</p>

      	<p>It was a pleasure getting to meet with you and review your project requirements, I believe it is a great fit for the types of applications that I build out. Please feel free to check out some of my past projects <a href="{{ proposal.portfolio_url }}">here</a>.</p>

      	<p>To successfully build out the application I will be utilizing {{ proposal.tools }}, and a number of other tools to ensure that the project follows industry wide best practices.</p>

      	<p>Ensuring that you are fully informed is one of my top priorities, so in addition to incorporating everything that we discussed, I will also be creating a project management dashboard and sending you a project update message daily so that you can have a transparent view of the development as it takes place.</p>

      	<p>To accomplish the project and meet the requirements that we discussed, I am estimating that it will take {{ proposal.estimated_hours }} hours in development time to complete. The project should take {{ proposal.weeks_to_complete }} weeks to complete and with my hourly rate of {{ proposal.hourly_rate }}/hour, the estimated total will be {{ proposal.hourly_rate * proposal.estimated_hours }}.</p>

      	<p>The next step from here is to set up a meeting to finalize the project and sign contracts.</p>

        <p>I am excited to working with you and build out this project.</p>
      </div>
    </div>
  </div>
</div>
